/*--------------------------HEADER---------------------*/
.desk {
  background-color: black; }

.naranja {
  color: #d0c06f;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.azul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #be8e2c;
  text-align: center;
  padding-left: 1cm;
  padding-right: 1cm; }

/*.tituloFooter, .fuenteFooter1, .fuenteFooter2, .fuenteFooter3, .fuenteFooter4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #be8e2c;
}*/
footer {
  background-color: black;
  text-align: center;
  font-family: verdana;
  color: #be8e2c;
  justify-content: center;
  align-items: center; }

li {
  list-style-type: none; }

/*.titImg1, .titImg2, .titImg3{
    color: #d0c06f;
    text-align: center;
    font-size: 25px;
}*/
/*.formatoText1, .formatoText2, .formatoText3{
    color:  rgb(190, 142, 44);
    text-align: center;
}*/
/*.imgBuscador, .imgSiempre, .imgInsuperable{
    padding-left: 4cm;
}*/
.titImg, .titImg1 {
  color: #d0c06f;
  text-align: center;
  font-size: 25px;
  justify-content: space-between; }

.titImg1 {
  font-size: 15px; }
